$page-bg-gradient-color-1: #fff;
$page-bg-gradient-color-2: #f1f2f4;

body {
	background: radial-gradient(circle at 50% 0, $page-bg-gradient-color-1,
	                                             $page-bg-gradient-color-2)
	            no-repeat center center fixed;
}
