.l-admin-activity-select {
	width: 3%;
}

.l-admin-activity-nameAndDescription {
	width: 30%;
}

.l-admin-activity-location {
	width: 15%;
}

.l-admin-activity-start {
	width: 15%;
}

.l-admin-activity-inscriptionStart {
	width: 15%;
}

.l-admin-activity-actions {
	width: 27%;
}