.l-admin-mbMember-select {
	width: 3%;
}

.l-admin-mbMember-name {
	width: 25%;
}

.l-admin-mbMember-dniNif {
	width: 5%;
}

.l-admin-mbMember-phone {
	width: 5%;
}

.l-admin-mbMember-charge {
	width: 15%;
}

.l-admin-mbMember-actions {
	width: 37%;
}