.l-admin-activity-select {
	width: 5%;
}

.l-admin-activity-name-description {
	width: 30%;
}

.l-admin-activity-location {
	width: 15%;
}

.l-admin-activity-start {
	width: 15%;
}

.l-admin-activity-inscription-start {
	width: 15%;
}

.l-admin-activity-actions {
	width: 25%;
}