.l-admin-charge-select {
	width: 3%;
}

.l-admin-charge-name {
	width: 25%;
}

.l-admin-charge-email {
	width: 25%;
}

.l-admin-charge-workingGroup {
	width: 25%;
}

.l-admin-charge-actions {
	width: 22%;
}