$header-icon-size-sm: 35px;
$header-icon-size-md: 60px;
$header-icon-size-lg: 100px;

$page-header-padding-top-sm: 10px;
$page-header-padding-top-md: 15px;
$page-header-padding-top-lg: 40px;

.l-user-menu {
	z-index: 100;
	position: absolute;
	transform: translateY(-50%);

	@include media-breakpoint-down(md) {
		right: 10px;

		top: $page-header-padding-top-sm + $header-icon-size-sm / 2;
	}

	@include media-breakpoint-up(md) {
		right: 15%;

		top: $page-header-padding-top-md + $header-icon-size-md / 2;
	}

	@include media-breakpoint-up(lg) {
		top: $page-header-padding-top-lg + $header-icon-size-lg / 2;
	}
}

.l-menu-content {
	position: absolute;
	top: calc(100% + 10px);

	@include media-breakpoint-down(sm) {
		right: 0;
	}

	@include media-breakpoint-up(md) {
		left: 50%;
		transform: translateX(-50%);
	}
}
