// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.table > tbody > tr > th {
	vertical-align: middle;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

.form-group.btn-group {
	margin: 0 !important;
}
