.dashboard {
	margin: 0 auto;
	width: 200px * 3 + 10px * 3;

	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: center;

	&-item {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;

		width: 200px;
		height: 200px;
		box-sizing: border-box;

		margin: 5px;
	}
}

.item-icon {
	font-size: 30px;
}

.item-text {
	font-size: 12px;
}

.dashboard--admin {
	.dashboard-item {
		border-radius: 5px;

		color: #fff;
		background-color: #808080;

		text-decoration: none;

		&:hover {
			background-color: #b3b3b3;
		}
	}

	.item--disabled {
		color: #4d4d4d;
		background-color: transparent !important;

		border: 5px solid #4d4d4d;

		cursor: not-allowed;
	}

	.item-text {
		font-weight: bold;
		text-transform: uppercase;
	}
}
