.gallery {
	&-items {
		padding: 0;
		margin: -10px;
		list-style: none;

		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
	}

	&-item {
		margin: 10px;
		width: 250px;

		@include media-breakpoint-down(sm) {
			width: 100%;
		}

		&-image {
			width: 100%;
			height: 150px;
			object-fit: cover;
		}

		&-content {
			position: relative;
		}

		&-title {
			margin: 0;
			font-size: 1.2em;
		}

		&-extra {
			color: #888;
			font-size: 0.9em;

			&::after {
				clear: both;
				content: '';
				display: block;
			}
		}

		&-description {
			margin: 10px 0;

			color: #888;
			font-size: 0.9em;
			text-align: justify;

			overflow: hidden;
			line-height: 1.1em;
			max-height: 4 * 1.1em;
		}

		&-link {
			height: 100%;
			cursor: pointer;
			color: rgba(#000, .75);

			&:hover, &:focus {
				text-decoration: none;
				color: rgba(#000, .75);
			}

			&.disabled {
				cursor: not-allowed;
			}

			&:not(.disabled) {
				&:hover, &:focus {
					box-shadow: 0 4px 6px rgba(#000, 0.15);
				}
			}

			&--new {
				padding: 20px 0;

				display: flex;
				flex-direction: column;
				justify-content: center;

				font-size: 1.4rem;
				color: rgba(#000, .5);
				background-color: rgba(#000, .15);
			}
		}

		&-draft-mark {
			right: 15px;
			bottom: 15px;
			position: absolute;
		}

		&-actions {
			margin-top: 10px;
		}
	}
}
