.tree-groups,
.group-subgroups,
.group-charges,
.charge-periods {
	padding-left: 0;
	list-style: none;
}

@media (min-width: 1000px) {
	.tree-group--level-0 > .group-info > .group-subgroups {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		& > .group-subgroup ~ .group-subgroup {
			margin-top: 0;
			margin-left: 15px;
		}
	}
}

.tree-group--level-0 ~ .tree-group--level-0 {
	margin-top: 40px;
}

.group-info {
	margin-top: 15px;
}

.group-subgroup ~ .group-subgroup {
	margin-top: 20px;
}

.group-charge ~ .group-charge {
	margin-top: 20px;
}

.charge-periods {
	margin: 10px 0;
}

.charge-period {
	margin-left: 20px;
}

.period-user,
.period-end {
	display: block;
	line-height: 18px;
}

.group-name, .charge-name {
	font-size: 0.8em;
	font-weight: 600;
}

.tree-group--level-0 {
	& > .group-name {
		font-size: 1em;
	}
}

.charge-name,
.group-subgroup .group-name {
	display: inline-block;
	background-color: var(--wg-color);
}

.group-subgroup .group-info {
	padding: 15px;
	margin-top: 0;
	margin-left: 20px;
}

.tree-group--level-1 {
	position: relative;

	&::before {
		content: '';

		width: 5px;
		display: block;
		height: 100%;

		top: 1px;
		left: 15px;
		z-index: -1;
		position: absolute;

		background-color: var(--wg-color);
	}
}

.group-name, .charge-name {
	text-transform: uppercase;
}

.group-subgroups .group-name,
.group-charges .charge-name {
	padding: 3px 8px;
	border-radius: 5px;
}

.charge-period {
	position: relative;
	color: var(--wg-color);

	&::before {
		content: '\f061';
		font-family: FontAwesome;

		left: -20px;
		display: block;
		position: absolute;
	}
}

.period-user {
	font-weight: 600;
}

.group-charge--new {
	.charge-name {
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}
}