$page-header-padding-top-sm: 10px;
$page-header-padding-top-md: 15px;
$page-header-padding-top-lg: 40px;

$header-icon-size-sm: 35px;
$header-icon-size-md: 60px;
$header-icon-size-lg: 100px;

$header-title-margin-top-sm: 0px;
$header-title-margin-top-md: 10px;
$header-title-margin-top-lg: 10px;

$header-title-font-size-sm: 0.5rem;
$header-title-font-size-md: 0.7rem;
$header-title-font-size-lg: 1.0rem;

$header-title-vertical-padding-sm: 10px;
$header-title-vertical-padding-md: 10px;
$header-title-vertical-padding-lg: 20px;

$page-menu-width: 300px;
$page-menu-bg-color: #4f4f4f;

$menu-toggle-font-size: 25px;

body {
	overflow-x: hidden;
}

.page-root {
	position: relative;
	transition: transform 0.4s ease;

	.is-menu-active & {
		transform: translateX(80vw);

		@media (min-width: $page-menu-width / 0.8) {
			transform: translateX($page-menu-width);
		}

		&::after {
			content: '';
			width: 100vw;
			height: 100vh;
			position: absolute;

			top: 0;
			left: 0;
			z-index: 50;
		}
	}
}

.page-header {
	position: relative;
	padding-top: $page-header-padding-top-sm;

	@include media-breakpoint-up(md) {
		padding-top: $page-header-padding-top-md;
	}

	@include media-breakpoint-up(lg) {
		padding-top: $page-header-padding-top-lg;
	}

	.header-icon {
		margin: 0 auto;
		display: block;

		width: $header-icon-size-sm;
		height: $header-icon-size-sm;

		@include media-breakpoint-up(md) {
			width: $header-icon-size-md;
			height: $header-icon-size-md;
		}

		@include media-breakpoint-up(lg) {
			width: $header-icon-size-lg;
			height: $header-icon-size-lg;
		}
	}

	.header-title {
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;

		font-size: $header-title-font-size-sm;
		margin-top: $header-title-margin-top-sm;
		padding: $header-title-vertical-padding-sm 0;

		@include media-breakpoint-up(md) {
			font-size: $header-title-font-size-md;
			margin-top: $header-title-margin-top-md;
			padding: $header-title-vertical-padding-md 0;
		}

		@include media-breakpoint-up(lg) {
			font-size: $header-title-font-size-lg;
			margin-top: $header-title-margin-top-lg;
			padding: $header-title-vertical-padding-lg 0;
		}
	}

	.header-menu {
		&-items {
			list-style-type: none;
			padding-left: 0;
		}

		&-link {
			outline: none;
			cursor: pointer;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			&:focus, &:hover {
				text-decoration: none;
			}
		}

		@include media-breakpoint-down(sm) {
			top: 0;
			right: 100%;
			position: fixed;
			overflow-x: hidden;

			max-width: 80vw;
			min-height: 100vh;
			width: $page-menu-width;

			background-color: $page-menu-bg-color;

			&-items {
				margin: 15px 0;
				font-size: 1.2em;
				font-weight: 600;
			}

			&-item {
				padding: 5px 30px;
				overflow-x: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			&-link {
				color: rgba(#ddd, 0.8);

				&:focus, &:hover {
					color: rgba(#fff, 0.9);
				}
			}
		}

		@include media-breakpoint-up(md) {
			&-items {
				font-size: 17px;
				max-width: 700px;
				margin: 25px auto;

				display: flex;
				justify-content: space-between;
			}

			&-link {
				padding: 2px;
				font-weight: 600;
				color: rgba(#000, 0.8);
				text-transform: uppercase;

				&:focus, &:hover {
					border-bottom: 2px solid;
				}
			}
		}
	}

	.header-menu-toggle {
		border: none;
		outline: none;
		background: none;
		position: absolute;

		top: 50%;
		left: 10px;
		transform: translateY(-50%);

		cursor: pointer;
		padding: 1px 6px;
		line-height: 25px;
		font-size: $menu-toggle-font-size;

		z-index: 100;

		@include media-breakpoint-up(md) {
			display: none;
		}
	}
}
