.profile-photo {
	border-radius: 50%;

	@include media-breakpoint-down('md') {
		width: 140px;
		height: 140px;
		font-size: 0.8em;
	}

	@include media-breakpoint-up('md') {
		width: 200px;
		height: 200px;
	}
}
