$user-image-size: 36px;
$user-image-size-lg: 64px;

.user-entry {
	margin: 0 auto;
	overflow: hidden;
	text-align: left;
	white-space: nowrap;
}

.user-image, .user-info {
	display: inline-block;
	vertical-align: middle;
}

.user-image {
	width: $user-image-size;
	height: $user-image-size;
	border-radius: 50%;
}

.user-info {
	margin: 0 10px;
	line-height: 20px;
}

.user-name, .user-email {
	display: block;
}

.user-email {
	color: #aaa;
	font-size: 0.9em;
}

.user-entry--large {
	.user-image {
		width: $user-image-size-lg;
		height: $user-image-size-lg;
	}
}
