.user-entry {
	margin: 0 auto;
	text-align: left;
	white-space: nowrap;
}

.user-image, .user-info {
	display: inline-block;
	vertical-align: middle;
}

.user-image {
	width: 36px;
	height: 36px;
	margin-left: 20px;
	border-radius: 50%;
}

.user-info {
	margin-left: 10px;
	line-height: 20px;
}

.user-name, .user-email {
	display: block;
}

.user-email {
	color: #aaa;
	font-size: 0.9em;
}