@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

.admin {
	color: #fff;
	background-color: #262626;
	font-family: 'Libre Franklin', sans-serif;

	.header-icon {
		fill: #fff;
	}
}
