@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

.admin {
	color: #fff;
	background-color: #262626;
	font-family: 'Libre Franklin', sans-serif;

	.header-icon {
		fill: #fff;
	}

	.header-title {
		letter-spacing: 1px;
	}

	.dashboard--admin {
		.item-text {
			letter-spacing: 1px;
		}
	}

	.modal {
		color: black;
	}
}
