@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

.admin {
	font-family: 'Libre Franklin', sans-serif;

	.page-header {
		color: #fff;
		background-color: #262626;
	}

	.header-icon {
		fill: #fff;
	}

	.header-title {
		letter-spacing: 1px;
	}

	.dashboard--admin {
		.item-text {
			letter-spacing: 1px;
		}
	}
}