@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

.main {
	font-family: 'Libre Franklin', sans-serif;

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Libre Franklin', sans-serif;
	}

	p {
		font-family: 'Libre Franklin', sans-serif;
	}

	a, button {
		font-family: 'Libre Franklin', sans-serif;
	}
}
